<%- include('partials/header'); -%>

<header>
    <div class="logo">
        <img src="/smoothie.png" alt="smoothie recipe icon">
    </div>
    <div class="headings">
        <h2>Smothies recipe</h2>
        <h3>By Pann Pan Lay</h3>
        <a href="/smoothies" class="btn">View Recipe</a>
    </div>
</header>

<%- include('partials/footer'); -%>