<%- include('partials/header'); -%>

<form action="/signup">
    <h2>Sign Up</h2>
    <label for="email">Email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>
    <label for="password" >Password</label>
    <input type="password" 
   name="password" required>
    <div class="password error"></div>
    <button class="btn signup-btn">Sign Up</button>
</form>

<%- include('partials/footer'); -%>

<script>
    const form = document.querySelector("form");

    form.addEventListener("submit",async function (e){
        e.preventDefault();
        
        let email = form.email.value;
        let password = form.password.value;

        try {
            let res = await fetch("/signup", {
                method : "POST",
                headers: {
                    "Content-type": "application/json",
                    "Accept": "application/json"
                },
                body : JSON.stringify({ email : email , password : password})
            })
        } catch (error) {
            console.log(error)
        }
        
    })
</script>